{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block content%}
<a href="{{ path('inscription') }}">S'inscrire</a>
<br/>
<a href="{{ path('ajout_theme') }}">Ajout d'un thème</a>
<br/>
<a href="{{ path('ajout_categorie') }}">Ajout d'une catégorie</a>
<br/>
<a href="{{ path('ajout_abonnement') }}">Ajout d'un abonnement</a>

{% endblock %}